USE [master]
GO
/****** Object:  Database [METADATA]    Script Date: 12/4/2022 5:53:56 PM ******/
CREATE DATABASE [METADATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'METADATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\METADATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'METADATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\METADATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [METADATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [METADATA]
GO
/****** Object:  Table [dbo].[Data_Flow]    Script Date: 12/4/2022 5:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_Flow](
	[ID] [int] NOT NULL,
	[TenBang] [varchar](20) NULL,
	[CET] [date] NULL,
	[LSET] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
